<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDAO">

	<!-- 게시판 글 모두 조회 -->
	<select id="boardSelect" resultType="boardVO">
		SELECT BNO,
			   TITLE,
			   CONTENT,
			   CNT,
			   BDATE,
			   WRITER,
			   C_NAME,
			   S_NAME
		FROM BOARD
		ORDER BY BNO DESC
	</select>
	
	<!-- 게시글 단건 조회 -->
	<select id="boardSelectOne" resultType="boardVO">
		SELECT BNO,
			   TITLE,
			   CONTENT,
			   CNT,
			   BDATE,
			   WRITER,
			   C_NAME,
			   S_NAME
		FROM BOARD
		WHERE BNO = #{bNo}
		ORDER BY BNO DESC
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="boardInsert">
		<selectKey resultType="int" keyProperty="bNo" order="BEFORE">
			SELECT NVL(MAX(BNO),0)+1 FROM BOARD
		</selectKey>
		INSERT INTO BOARD (
			BNO,
			TITLE,
			CONTENT,
			CNT,
			BDATE,
			WRITER,
			C_NAME,
			S_NAME
		) VALUES (
			#{bNo},
			#{title},
			#{content},
			0,
			SYSDATE,
			#{writer},
			#{c_name},
			#{s_name}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="boardUpdate">
		UPDATE
			BOARD
		SET
			TITLE = #{title},
			CONTENT = #{content},
			C_NAME = #{c_name},
			S_NAME = #{s_name}
		WHERE
			BNO = #{bNo}
	</update>

	<delete id="boardDelete">
		DELETE FROM 
				BOARD
		WHERE BNO = #{bNo}
	</delete>
</mapper>