<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryDAO">

	<!-- category 조회 -->
	<select id="categorySelect" resultType="categoryVO">
		SELECT 
			   CNO,
			   CNAME,
			   SNAME
		FROM CATEGORY
	</select>
	
	<!-- category cName 조회 -->
	<select id="cNameSelect" resultType="categoryVO">
		SELECT DISTINCT
			   CNAME
		FROM CATEGORY
	</select>
	
	<!-- category cName 중복 조회 -->
	<select id="cNameDuplicationSelect" resultType="categoryVO">
		SELECT CNAME
		FROM CATEGORY
		WHERE CNAME = #{cName}
	</select>
	
</mapper>