<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryDAO">

	<!-- category 조회 -->
	<select id="categorySelect" resultType="categoryVO">
		SELECT 
			   CNAME
		FROM CATEGORY
	</select>
	
	<!-- sub_category 조회 -->
	<select id="subCategorySelect" resultType="categoryVO">
		SELECT 
			   SNO,
			   CNAME,
			   SNAME
		FROM SUB_CATEGORY
	</select>
	
</mapper>