<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserDAO">
	
	<!-- 전체 회원 조회 -->
	<select id="userSelect" resultType="userVO">
		SELECT ID,
			   PASSWORD,
			   NAME,
			   BIRTHDAY,
			   GENDER,
			   EMAIL,
			   TEL,
			   AUTH,
			   ENABLED
		FROM B_USER
	</select>
	
	<!-- 기존 회원 아이디 조회 -->
	<select id="userIdCheck" resultType="userVO">
		SELECT ID
		FROM B_USER
		WHERE ID = #{userId}
	</select>
	
	<!-- 회원 가입 -->
	<insert id="userInsert" parameterType="userVO">
		INSERT INTO B_USER(ID,PASSWORD,NAME,BIRTHDAY,GENDER,EMAIL,TEL,AUTH,ENABLED)
		VALUES(#{userId},#{userPw},#{userName},TO_DATE(#{birthday},'YYYY-MM-DD'),#{gender},#{email},#{tel},'ROLE_USER',1)
	</insert>
	
</mapper>