<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
          <setting name="mapUnderscoreToCamelCase" value="true"/>
          <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    <typeAliases>
          <typeAlias alias="boardVO" type="com.suvin.project.vo.BoardVO"/>
          <typeAlias alias="categoryVO" type="com.suvin.project.vo.CategoryVO"/>
          <typeAlias alias="criteria" type="com.suvin.project.vo.Criteria"/>
          <typeAlias alias="userVO" type="com.suvin.project.vo.UserVO"/>
          <typeAlias alias="replyVO" type="com.suvin.project.vo.ReplyVO"/>
    </typeAliases>
</configuration>